#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.imgElem {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

.videoElem {
  /* width: 100vw; */
  height: 100vh;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  /* width: 100%; */
  padding-bottom: 4px;
}

.overlay p {
  padding: 16px;
  background-color: #aaac;
  margin-left: 41px;
  margin-right: 42px;
  margin-bottom: 42px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 64px;
}

.action p {
  margin: 0 32px;
}

button.action {
  border: 6px solid #9f9121;
  border-radius: 0;
  background: #c8c37b;
  color: #4d3b12;
  font-family: 'VT323', monospace;
  font-size: 18px;
}
